body{
	margin: 0 auto;
	font-size: 100%;
	/*background: url(../images/dark_wood.png)fixed;*/
}
p, h2{
	font-family: 'Source Sans Pro', sans-serif;
}
h1{
	font-family: 'Michroma', sans-serif;
	color: #efefef;
	padding: 10px;
	margin-bottom: 20px;
	vertical-align: text-bottom;
	display: inline-block;
}
.container{
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
}
.heading{
	background-color: #140f09;
	text-align: center;
}
.displayBox{
	width: 45%;
	display: inline-block;
	padding-left: 40px;
}
.image{
	max-width: 100%;
}
.fsLogo{
	width: 5%;
	display: inline-block;
	margin-bottom: 20px;
}
footer p{
	background-color: #140f09;
	color: #efefef;
	padding: 10px;
	text-align: center;
}

@media (max-width: 400px){
	.container{
		width: 100%;
	}
	.phide{
		display: none;
	}
	.fsLogo{
		width: 10%;
		margin-top: 20px;
	}
	h1{
		font-size: 90%;
	}
	.welcome{
		padding: 0 10px;
		margin-bottom: 0;
		text-align: center; 
	}
	.displayBox{
		width: 100%;
		padding-left: 0;
	}
	.displayBox img{
		border-bottom: 1px solid #eb6e1f;
	}
	.displayBox h2{
		text-align: center;
		background-color: #959595;
		font-size: 14px;
		color: #efefef;
		padding: 5px;
		margin: 0 auto;
		border-top: 1px solid #eb6e1f;
	}
	.displayBox p{
		padding-left: 20px;
	}
	footer p{
		font-size: 12px;
	}


} 