body{
	margin: 0 auto;
	font-size: 100%;
	/*background: url(../images/dark_wood.png)fixed;*/
}
p, h2{
	font-family: 'Source Sans Pro', sans-serif;
}
h1{
	font-family: 'Michroma', sans-serif;
	color: #efefef;
	padding: 10px;
	vertical-align: text-top;
	display: inline-block;
}
.container{
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
}
.heading{
	background-color: #140f09;
	text-align: center;
}
.displayBox{
	width: 45%;
	display: inline-block;
	padding-left: 40px;
}
.image{
	max-width: 100%;
}
.fsLogo{
	width: 5%;
	display: inline-block;
	padding-top: 40px;
}
footer p{
	background-color: #140f09;
	color: #efefef;
	padding: 10px;
	text-align: center;
}

@media (max-width: 400px){
	.displayBox{
		width: 100%;
		padding-left: 0;
	}



} 