body{
	margin: 0 auto;
	font-size: 100%;
}
p, a, h2{
	font-family: 'Source Sans Pro', sans-serif;
}
h1{
	font-family: 'Michroma', sans-serif;
	color: #efefef;
	padding: 10px;
	margin-bottom: 20px;
	vertical-align: text-bottom;
	display: inline-block;
}
.container{
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
}
.heading{
	background-color: #140f09;
	text-align: center;
}
.welcome{
	width: 50%;
	padding: 50px 0;
	color: #959595;
	margin: 0 auto;
	line-height: 50px;
}
.pButton{
	text-align: center;
}
.projects{
	text-decoration: none;
	background-color: #b9591d;
	color: #efefef;
    padding: 10px 80px;
}
.projects:hover{
	box-shadow: 2.5px 2.5px 5px #888888;
	background-color: #eb6e1f;
	color: #fff;
}
.displayBox{
	width: 45%;
	display: inline-block;
	padding-left: 40px;
}
.image{
	max-width: 100%;
}
.fsLogo{
	width: 5%;
	display: inline-block;
	margin-bottom: 20px;
}
footer p{
	font-size: 12px;
	background-color: #140f09;
	color: #efefef;
	padding: 20px;
	text-align: center;
	margin-top: 80px;
}

@media (max-width: 400px){
	.container{
		width: 100%;
	}
	.phide, .phide2, .phide3, .phide4, .phide5, .phide6, .phide7, .phide8, .phide9, .phide10{
		display: none;
	}
	.fsLogo{
		width: 10%;
		margin-top: 20px;
	}
	h1{
		font-size: 90%;
	}
	.welcome{
		width: 80%;
		line-height: 30px;
	}
	.displayBox{
		width: 100%;
		padding-left: 0;
	}
	.displayBox h2{
		text-align: center;
		font-size: 14px;
		color: #555c9f;
		padding: 5px;
		margin: 0 auto;
		/*border-top: 1px solid #eb6e1f;*/
	}
	.displayBox p{
		padding-left: 20px;
	}

} 